
{% extends "shared/layout.html" %}
{% load static %}
{% block title %}Ana Sayfa{% endblock %}
{% block css %}
    <link href="{% static "site/layout/css/styles.css" %}" rel="stylesheet">
	<link href="{% static "site/layout/css/responsive.css" %}" rel="stylesheet">
{% endblock %}



{% block section %}
    <div class="slider"></div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="{% static "site/images/marion-michele-330691.jpg" %}" alt="Blog Image"></div>

							<a class="avatar" href="#"><img src="{% static "site/images/icons8-team-355979.jpg" %}" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
								Concepts in Physics?</b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->

				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="{% static "site/images/audrey-jackson-260657.jpg" %}" alt="Blog Image"></div>

							<a class="avatar" href="#"><img src="{% static "site/images/icons8-team-355979.jpg" %}" alt="Profile Image"></a>

							<div class="blog-info">
								<h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
									Concepts in Physics?</b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>
							</div><!-- blog-info -->

						</div><!-- single-post -->

					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->

			</div><!-- row -->

			<a class="load-more-btn" href="#"><b>Daha fazla...</b></a>

		</div><!-- container -->
	</section><!-- section -->
{% endblock %}





