{% load static %}



<body >

	<header>
		<div class="container-fluid position-relative no-side-padding">

			<a href="#" class="logo"><img src="{% static "site/images/logo.png" %}" alt="Logo Image"></a>

			<div class="menu-nav-icon" data-nav-menu="#main-menu"><i class="ion-navicon"></i></div>

			<ul class="main-menu visible-on-click" id="main-menu">
				<li><a href="/">Anasayfa</a></li>
				<li><a href="/category">Kategoriler</a></li>
				<li><a href="#">Yazı Ekle</a></li>
			</ul><!-- main-menu -->

			<div class="src-area">
				<form>
					<button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
					<input class="src-input" type="text" placeholder="Ara...">
				</form>
			</div>

		</div><!-- conatiner -->
	</header>